    .mission {
    padding: 4rem 1.5rem;
        background: linear-gradient(
            135deg,
            #eef2f7,
            #93c4ff
        );
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 16px;
    }

    .mission:hover {
      transform: translateY(-6px);
      box-shadow: 0 20px 40px rgba(0,0,0,0.12);
    }
    
    .mission-container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "image content"
        "image history";
    gap: 3rem;
    align-items: start;
    }

    .mission-image {
    grid-area: image;
    }

    .mission-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    }

    .mission-content {
    grid-area: content;
    font-size: larger;
    }

    .mission-history {
    grid-area: history;
    font-size: larger;
    }


    @media (max-width: 768px) {
    .mission-container {
        grid-template-columns: 1fr;
    }
    }

    .values {
        padding: 4rem 1.5rem;
        background: linear-gradient(
            135deg,
            #eef2f7,
            #93c4ff
        );
        border-radius: 16px;
    }


    .values-container {
    max-width: 1100px;
    margin: 0 auto;
    }

    .values-container h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    }

    .values-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    }

    .values-list li {
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 2rem;
    border-radius: 16px;

    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .values-list li:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
    }

    .values-list h3 {
    margin-bottom: 0.75rem;
    }

    .values-list p {
    color: #555;
    line-height: 1.6;
    font-size: 0.95rem;
    }



    @media (max-width: 900px) {
    .mission-container {
        grid-template-columns: 1fr;
    }

    .values-list {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    @media (max-width: 500px) {
    .values-list {
        grid-template-columns: 1fr;
    }
    }
